<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JWAirPlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JWBestPracticeApps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JWCasting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JWCustomized.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JWFairPlayDrm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>JWRemoteCastController (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>JWRemoteCastController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>JWRemoteCastPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>JWRemoteController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JWRemotePlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - JWRemoteController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A37346F1D1DC2A80008FE59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A3734891D1DC2E70008FE59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A729A761C98ACA8000F03A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A729AE51C98B571000F03A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A729B0E1C98B5A6000F03A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A729B291C98B5F2000F03A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A729B441C98B610000F03A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A729B621C99B4A0000F03A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB3E07C1D99B3F8002A3CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AF5F68B1C9A56F100C0D5E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AF5F6CB1C9A612B00C0D5E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
