<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array>
		<dict>
			<key>ParameterNames</key>
			<array>
				<string>INResumeWorkoutIntent.workoutName</string>
			</array>
			<key>ParameterVocabulary</key>
			<array>
				<dict>
					<key>VocabularyItemIdentifier</key>
					<string>play</string>
					<key>VocabularyItemSynonyms</key>
					<array>
						<dict>
							<key>VocabularyItemExamples</key>
							<array>
								<string>roll over for me</string>
							</array>
							<key>VocabularyItemPhrase</key>
							<string>roll over</string>
						</dict>
						<dict>
							<key>VocabularyItemPhrase</key>
							<string>Resume play back</string>
						</dict>
						<dict>
							<key>VocabularyItemExamples</key>
							<array>
								<string>Start play back on JW Voice Control</string>
							</array>
							<key>VocabularyItemPhrase</key>
							<string>Start play back</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INResumeWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Siri, resume play back on JW Voice Control</string>
				<string>roll over for me using JW Voice Control</string>
				<string>Siri, play play back on JW Voice Control</string>
				<string>Siri, start my play back on JW Voice Control</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
